<h1 mat-dialog-title>Array Data Type </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>select data type</mat-label>
    <mat-select value="string" (selectionChange)="onSelect()" [(ngModel)]="data.arrayDataType">
      <mat-option value="string">String</mat-option>
      <mat-option value="number">Number</mat-option>
      <mat-option value="boolean">Check Box</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <!--button mat-button (click)="onNoClick()">No Thanks</button-->
  <button mat-button [mat-dialog-close]="data.arrayDataType" cdkFocusInitial>Ok</button>
</div>
