<div class="container">
        <mat-toolbar style="background-color: #dddddd;color:white; ">
            <span class="fill-remaining-space"></span>
            <span><img src="https://trello-attachments.s3.amazonaws.com/5cb741661c039c0563557894/5d84bfc354b6d38871394205/34a9c43aa6147017dcde2800c1280eee/ignity-logo.png"
                     height="40px" width="100px"></span>
            <div>
                <p style="text-align: center">
                    <!--span style="font-size: 30px;"><b>IGNITY</b></span-->
                    <span style="color:#0093af; font-size: 15px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><i>Firebase data management tool</i></span>
                </p>
            </div>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div style="margin: 0px 100px">
            <mat-toolbar style="background-color: #f5f0f0">
                <button mat-icon-button (click)="onBack()"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <mat-icon>list</mat-icon><span style="font-size: 17px">{{modelName}}</span>
                <span class="fill-remaining-space"></span>
                <!--span><button mat-raised-button color="primary" (click)="openDialog()"><span>+ Add Field</span>
                </button></span-->
            </mat-toolbar>
            <div  style="display: flex;flex-direction: row   ;margin-left: 0px; margin-right:0px">
                <div style="width: 75%; margin: 30px;padding: 0px 5px">
                    <div style="margin-top:10px;" *ngFor="let f of fields">
                        <mat-card style="display: flex">
                            <span>{{f}}</span>
                            [<span>{{dataTypes[f]}}</span>]
                            <span *ngIf="dataTypes[f]=='array'" >
                                    <select [(ngModel)]="allData[0][f]" (change)="updateValue($event,f)" required>
                                        <option value="string">String</option>
                                        <option value="number">Number</option>
                                        <option value="boolean">Boolean</option>
                                        <option value="database">Database</option>
                                    </select>
                            </span>
                            <span *ngIf="dataTypes[f]=='map'">
                                    <button mat-stroked-button (click)="openDialogMap(f)">add fields</button>
                                    [<span *ngFor="let fi of allData[0][f]">
                                        {{fi}}
                                    </span>]
                            </span>
                            <span *ngIf="dataTypes[f]=='optionselection'">
                                <button mat-stroked-button (click)="openDialogOptionSelection(f)">add options</button>
                                [<span *ngFor="let op of allData[0][f]">
                                        {{op}}
                                    </span>]
                            </span>
                            <span *ngIf="dataTypes[f]=='database'">
                              [collection: <span>
                                      {{allData[0][f]}}
                                  </span>]
                            </span>
                            <span class="fill-remaining-space"></span>
                            <span>
                              <button mat-icon-button color="warn" (click)="onDeleteField(f)"><mat-icon>delete</mat-icon></button>
                            </span>
                        </mat-card>
                    </div>
                </div>
                <div style="width:25%; float: right;padding: 10px 10px;background-color: #e7ebe8;height: 500px;margin: 20px">
                    <div style="font-size: 20px;padding: 5px 5px">
                        Fields
                    </div>
                    <mat-divider></mat-divider>
                    <div style="display: flex;justify-content: center;align-items: center;width: 100%;padding: 10px 10px">
                        <button mat-raised-button color="primary" (click)="openDialog()" >+ Add Field</button>
                    </div>
                    <!--div style="font-size: 20px;padding: 5px 5px">
                        View Data
                    </div>
                    <mat-divider></mat-divider>
                    <div style="display: flex;justify-content: center;align-items: center;width: 100%;padding: 10px 10px">
                        <button mat-raised-button color="primary" (click)="onViewData()" >View Data</button>
                    </div-->
                </div>
            </div>
        </div>

    </div>
