<div class="container">
    <mat-toolbar style="background-color: #dddddd;color:white; ">
        <span class="fill-remaining-space"></span>
        <span><img src="https://trello-attachments.s3.amazonaws.com/5cb741661c039c0563557894/5d84bfc354b6d38871394205/34a9c43aa6147017dcde2800c1280eee/ignity-logo.png"
                 height="40px" width="100px"></span>
        <div>
            <p style="text-align: center">
                <!--span style="font-size: 30px;"><b>IGNITY</b></span-->
                <span style="color:#0093af; font-size: 15px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><i>Firebase data management tool</i></span>
            </p>
        </div>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div style="margin: 0px 100px">
        <mat-toolbar style="background-color: #f5f0f0">
            <button *ngIf="superColId != null" (click)="onBack()" mat-icon-button ><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button (click)="onHome()" mat-icon-button><mat-icon>home</mat-icon></button>
            <mat-icon>list</mat-icon><span style="font-size: 17px">{{docId}}</span>
            <span style="font-size: small">({{path}})</span>
            <span class="fill-remaining-space"></span>
            <span style="margin-right: 5px"><button mat-raised-button (click)="onSubCollections()">Sub-Collections</button></span>
            <span><button mat-raised-button color="primary" (click)="add()"><span>+ Add Entry</span>
            </button></span>
        </mat-toolbar>
        <table style="display:block; overflow-x: auto; white-space: nowrap" *ngIf="collectionData !=[]" id="dataTable">
            <!--table header start-->
            <tr>
                <th><span>Document ID</span><span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span></th>
                <th style="width: 200px" *ngFor="let col of collection[0]">
                  <div style="width: 300px">
                    <span>{{col}}</span>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <span style="float: right; width: 50%">
                        <mat-select [(ngModel)]="dataTypes[col]" (selectionChange)="updateDataType($event.value,col)">
                            <mat-option *ngFor="let dataT of defaultDataTypes" [value]="dataT.value">
                                {{dataT.viewValue}}
                            </mat-option>
                        </mat-select>
                    </span>
                    <!--span style="float: right">{{dataTypes[col]}}</span-->
                   </div>
                </th>
                <th style="width :100px; padding-right: 8px"><span style="float: right">Remove</span></th>
                <!--th style="width :100px"><span style="float: right">Sub-Collections</span></th-->
                <th style="width: 100px; padding-right: 8px"><span style="float: right"><input (blur)="addField($event)" [(ngModel)]="newField" placeholder="+ Add new Field"></span></th>
            </tr>
            <!--table header end-->

            <!--start of table body-->
            <tr *ngFor="let row of allData">
                <td>
                  {{row[0]}}
                </td>
                <td *ngFor="let col of collection[0]" style="cursor: pointer"
                    (keyup)="changeValue($event,row,col)" (blur)="updateValue($event,row,col)" #other_content>
                    <span [ngSwitch]="dataTypes[col]">
                        <!--checkbox-->
                        <span *ngSwitchCase="'boolean'" contenteditable="false">
                            <mat-checkbox [(ngModel)]="row[1][col]" (click)="updateCheckBox(row,col)" (blur)="updateValue($event,row,col)"
                                          [disabled]="isNull(row[1][col])"></mat-checkbox>
                        </span>
                        <!--number-->
                        <span *ngSwitchCase="'number'" contenteditable="false">
                            <input (blur)="updateValue($event,row,col)" type="number" [value]="row[1][col]" style="border: none;
                            background-color:rgba(0, 0, 0, 0);width: 85%; height: 50px; margin-right: 10px" [disabled]="isNull(row[1][col])">
                        </span>
                        <!--option selection-->
                        <span *ngSwitchCase="'optionselection'" >
                            <mat-form-field style="width: 85%;padding-right: 5%" >
                                <mat-select [(ngModel)]="row[1][col]" (selectionChange)="updateValue($event,row,col)" [disabled]="isNull(row[1][col])">
                                    <mat-option *ngFor="let opn of tableData[col]" [value]="opn">
                                    {{opn}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <!--array-->
                        <span *ngSwitchCase="'array'">
                            <div *ngFor="let x of row[1][col];let i = index"[attr.data-index]="i" style="width: 100%">

                                <div *ngIf="tableData[col]=='string'"  >
                                    <span>
                                        <input  (blur)="updateValueArray($event,row,col,i)" [value]="row[1][col][i]" style="border:none; height: 40px;
                                          background-color:rgba(0, 0, 0, 0);width: 85%;" [disabled]="isNull(row[1][col])">
                                    </span>
                                    <span>
                                      <button mat-icon-button color="warn" (click)="deleteArrayItem(row,col,i)"><mat-icon>delete</mat-icon></button>
                                    </span>
                                </div>

                                <div *ngIf="tableData[col]=='number'">
                                    <input (blur)="updateValueArray($event,row,col,i)" type="number" [ngModel]="row[1][col][i]" style="border: none;
                                      background-color:rgba(0, 0, 0, 0);width: 85%; height: 40px;" [disabled]="isNull(row[1][col])">
                                    <span>
                                      <button mat-icon-button color="warn" (click)="deleteArrayItem(row,col,i)"><mat-icon>delete</mat-icon></button>
                                    </span>
                                </div>

                                <div *ngIf="tableData[col]=='database'">
                                    <span>
                                        <mat-select [value]="row[1][col][i].path" (selectionChange)="updateValueArray($event,row,col,i)"
                                                    [disabled]="isNull(row[1][col])">
                                            <mat-option *ngFor="let doc of collectionDocs[col]" [value]="doc">
                                              {{doc}}
                                            </mat-option>
                                        </mat-select>
                                    </span>
                                  <span>
                                      <button mat-icon-button color="warn" (click)="deleteArrayItem(row,col,i)"><mat-icon>delete</mat-icon></button>
                                  </span>
                                </div>

                                <div *ngIf="tableData[col]=='boolean'" style="height: 20px">
                                    <select [value]="row[1][col][i]" (change)="updateValueArray($event,row,col,i)" matNativeControl [disabled]="isNull(row[1][col])" required>
                                        <option value=true >true</option>
                                        <option value=false>false</option>
                                    </select>
                                    <!--mat-checkbox  [(ngModel)]="row[1][col][i]" (click)="updateValueArray($event,row,col,i)" ></mat-checkbox--->
                                    <span>
                                      <button mat-icon-button color="warn" (click)="deleteArrayItem(row,col,i)"><mat-icon>delete</mat-icon></button>
                                    </span>
                                </div>

                                <div *ngIf="tableData[col]=='datetime'">
                                    <input [value]="row[1][col][i]"
                                           [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" v
                                           (dateTimeInput)="updateValueArray($event,row,col,i)" placeholder="Date Time" [disabled]="isNull(row[1][col])">
                                    <owl-date-time #dt1 [startAt]="row[1][col][i]"></owl-date-time>
                                </div>

                                <div *ngIf="tableData[col]=='map'">
                                     <span *ngFor="let f of tableData[col+'Fields']">
                                          <div style="margin-bottom: 5px">
                                              {{f}}
                                            <input (blur)="updateValueArray($event,row,col,i)" [(ngModel)]="row[1][col][i][f]"
                                                   style="width: 80px;float :right" [disabled]="isNull(row[1][col])">
                                          </div>
                                     </span>
                                </div>

                                <div *ngIf="tableData[col]=='geopoint'">
                                      <div style="margin-bottom: 5px">
                                          Longitude :
                                          <input (blur)="updateValueArrayGeo($event,row,col,i,'lon')" type="number" placeholder="longitude"
                                                 [value]="row[1][col][i].longitude" style="width: 80px;float :right" [disabled]="isNull(row[1][col])">
                                      </div>
                                      <div>
                                          Latitude :
                                          <input (blur)="updateValueArrayGeo($event,row,col,i,'lat')" type="number" placeholder="latitude"
                                                 [value]="row[1][col][i].latitude" style="width: 80px;float :right" [disabled]="isNull(row[1][col])">
                                      </div>
                                </div>
                                <hr>
                            </div>
                            <span style="float: right;">
                                <button (click)="addArrayValue(row,col)"  mat-icon-button color="primary" [disabled]="isNull(row[1][col])"><mat-icon>add</mat-icon></button>
                            </span>
                        </span>
                        <!--map-->
                        <span *ngSwitchCase="'map'">
                            <span *ngIf="!isNull(row[1][col])">
                                <span *ngFor="let f of tableData[col]" disabled="isNull(row[1][col])">
                                    <div style="margin-bottom: 5px">
                                        {{f}}
                                        <input *ngIf="tableData[col+'MapDT'][f] == 'string'" (blur)="updateValueMap($event,row,col,f)" [(ngModel)]="row[1][col][f]"
                                             style="width: 155px;float :right" [disabled]="isNull(row[1][col])">
                                        <input *ngIf="tableData[col+'MapDT'][f] == 'number'" (blur)="updateValueMap($event,row,col,f)" [(ngModel)]="row[1][col][f]"
                                               style="width: 155px;float :right" [disabled]="isNull(row[1][col])" type="number">
                                        <mat-checkbox style="float: right" *ngIf="tableData[col+'MapDT'][f] == 'boolean'"  [(ngModel)]="row[1][col][f]"
                                                      (click)="updateValueMap($event,row,col,f)" [disabled]="isNull(row[1][col])"></mat-checkbox>
                                        <span *ngIf="tableData[col+'MapDT'][f] == 'datetime'">
                                            <input style="float: right" [value]="row[1][col][f]"
                                                   [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                                   (dateTimeInput)="updateValueMap($event,row,col,f)" placeholder="Date Time" [disabled]="isNull(row[1][col])">
                                            <owl-date-time #dt1 [startAt]="row[1][col][f]"></owl-date-time>
                                        </span>
                                        <span *ngIf="tableData[col+'MapDT'][f] == 'geopoint'">
                                            <div style="margin-bottom: 5px">
                                                Longitude :
                                                <input (blur)="updateValueMapGeo($event,row,col,f,'lon')" type="number" placeholder="longitude"
                                                       [value]="row[1][col][f].longitude" style="width: 155px;float :right" [disabled]="isNull(row[1][col])">
                                            </div>
                                            <div>
                                                Latitude :
                                                <input (blur)="updateValueMapGeo($event,row,col,f,'lat')" type="number" placeholder="latitude"
                                                       [value]="row[1][col][f].latitude" style="width: 155px;float :right" [disabled]="isNull(row[1][col])">
                                            </div>
                                        </span>
                                        <span *ngIf="tableData[col+'MapDT'][f] == 'database'">
                                            <mat-select style="width: 80%; float: right" [value]="row[1][col][f].path" (selectionChange)="updateValueMap($event.value,row,col,f)"
                                                        [disabled]="isNull(row[1][col])">
                                              <mat-option *ngFor="let doc of collectionDocs[f + 'MapRef']" [value]="doc">
                                                {{doc}}
                                              </mat-option>
                                            </mat-select>
                                        </span>
                                        <span *ngIf="tableData[col+'MapDT'][f] == 'optionselection'">
                                              <mat-select style="width: 80%; float: right" [(ngModel)]="row[1][col][f]" (selectionChange)="updateValueMap($event,row,col,f)" [disabled]="isNull(row[1][col])">
                                                  <mat-option *ngFor="let opn of tableData[f + 'MapOptions']" [value]="opn">
                                                  {{opn}}
                                                  </mat-option>
                                              </mat-select>
                                        </span>
                                    </div>
                                </span>
                            </span>
                        </span>
                        <!--Geo point-->
                        <span *ngSwitchCase="'geopoint'">
                            <div style="margin-bottom: 5px">
                                Longitude :
                                <input (blur)="updateValueG($event,row,col,'lon')" type="number" placeholder="longitude"
                                [value]="row[1][col].longitude" style="width: 80px;float :right" [disabled]="isNull(row[1][col])">
                            </div>
                            <div>
                                Latitude :
                                <input (blur)="updateValueG($event,row,col,'lat')" type="number" placeholder="latitude"
                                [value]="row[1][col].latitude" style="width: 80px;float :right" [disabled]="isNull(row[1][col])">
                            </div>
                        </span>
                        <!--Date Time-->
                        <span *ngSwitchCase="'datetime'">
                            <!--input type="datetime-local" name="date-time" [value]="secondsToDate(row[1][col].seconds)" (blur)="updateValue($event,row,col)"-->
                            <input [value]="row[1][col]"
                                   [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                   (dateTimeInput)="updateValue($event,row,col)" placeholder="Date Time" [disabled]="isNull(row[1][col])">
                            <owl-date-time #dt1 [startAt]="row[1][col]"></owl-date-time>
                        </span>
                        <!--Data base-->
                        <span *ngSwitchCase="'database'">
                            <!--td contenteditable="true"  (blur)="updateDatabaseRef($event,row,col)"  style="width: 100%; height:100%;">
                              {{collectionDocs[col]}}
                            </td-->
                          <!--span *ngIf="row[1][col]=='';else other_content">
                            {{row[1][col]}}
                          </span>
                          <ng-template #other_content>
                            {{row[1][col].path}}
                          </ng-template-->
                            <mat-select [value]="row[1][col].path" (selectionChange)="updateDatabaseRef($event.value,row,col)" [disabled]="isNull(row[1][col])">
                              <mat-option *ngFor="let doc of collectionDocs[col]" [value]="doc">
                                {{doc}}
                              </mat-option>
                            </mat-select>
                        </span>
                        <!--Default-->
                        <span *ngSwitchDefault>
                            <!--td contenteditable="true"  (blur)="updateValue($event,row,col)"  style="width: 100%; height:100%;">
                                {{row[1][col]}}
                            </td-->
                            <input  (blur)="updateValue($event,row,col)" [value]="row[1][col]" style="border:none; height: 40px;
                                          background-color:rgba(0, 0, 0, 0);width: 85%; margin-right: 10px" [disabled]="isNull(row[1][col])">
                        </span>
                    </span>
                    <span *ngIf="! isNull(row[1][col])">
                      <mat-checkbox [ngModel]="false" (click)="changeToNull(row,col)" ></mat-checkbox>
                    </span>
                    <span *ngIf="isNull(row[1][col])">
                      <mat-checkbox [ngModel]="true" (click)="nullChange(row,col)" ></mat-checkbox>
                    </span>
                </td>
                <td style="padding-right: 8px">
                    <button (click)="remove(row[0])" style="float: right" mat-raised-button color="warn"><mat-icon>delete</mat-icon>Remove</button>
                </td>
                <!--td>
                    <button mat-raised-button (click)="onViewSubCollections(row[0])">View</button>
                </td-->
            </tr>
            <!--end of table body-->
        </table>
    </div>
</div>
