<div class="container">
  <mat-toolbar style="background-color: #dddddd;color:white; ">
    <span class="fill-remaining-space"></span>
    <span><img src="https://trello-attachments.s3.amazonaws.com/5cb741661c039c0563557894/5d84bfc354b6d38871394205/34a9c43aa6147017dcde2800c1280eee/ignity-logo.png"
               height="40px" width="100px"></span>
    <div>
      <p style="text-align: center">
        <!--span style="font-size: 30px;"><b>IGNITY</b></span-->
        <span style="color:#0093af; font-size: 15px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><i>Firebase data management tool</i></span>
      </p>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <div style="margin-right: 25%; margin-left: 25%">
    <mat-toolbar style="background-color: #f5f0f0">
      <mat-icon>settings</mat-icon><span style="font-size: 17px">Firebase Details</span>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary" (click)="onSetUp()">Set Up</button>
    </mat-toolbar>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;
   margin-top: 20px; margin-left: 15%; margin-right: 25%;">
    <mat-form-field style=" width: 400px;">
      <input matInput placeholder="Firebase Config JSON" [(ngModel)]="fireConfig" >
    </mat-form-field>
    <br>
    <!--mat-form-field style=" width: 400px;">
      <input matInput placeholder="apiKey" [(ngModel)]="apiKey" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="authDomain" [(ngModel)]="authDomain" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="databaseURL" [(ngModel)]="databaseURL" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="projectId" [(ngModel)]="projectId" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="storageBucket" [(ngModel)]="storageBucket" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="messagingSenderId" [(ngModel)]="messagingSenderId" disabled>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px">
      <input matInput placeholder="appId" [(ngModel)]="appId" disabled>
    </mat-form-field-->
  </div>
  <div style="align-items: flex-start">
  </div>
</div>
